@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
*{
    padding: 0;
    margin: 0;
}
html, body #fullheight{
    min-height: auto !important;
    min-width: 375px !important;
}
body{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
}
.containers{
    width: 100vw;
    height: 100vh;
    background-color: #141417;
    font-weight: 500;
   
}
h1{
    font-weight: bolder;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    padding-top: 5%;
}
#AddTodo{
    display: flex;
    flex-direction: column;
    align-items : center;
    margin: 0 auto;
    border: solid 3px #440BD4;
    width: 90%;
    height: 15%;
    border-radius: 10px;
    justify-content: center;
    gap: 12px;
    margin-top: 3%;
    margin-bottom: 5%;
}
#AddTodo button{
    width: 91%;
    height: 30%;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    border: none;
    background-color: #440BD4;
    color: #FFFFFF;
    outline: none;
    border-radius: 10px;
    letter-spacing: 1px;
}
#AddTodo input{
    width: 90%;
    height: 30%;
    border: solid 3px #440BD4;
    border-radius: 10px;
    color: white;
    outline: none;
    font-family : inherit;
    background-color: #141417;
    padding-left: 2%;
}
input::-webkit-input-placeholder {
    color: white;
    padding-left: 1.5%;
    margin-left: 1%;
    opacity: 70%;
}


.toDoSpawn{
    width: 100%;
    display: block;
    padding-top: 2vh;
}

.inTodoSpawn{
    width: 95%;
    height: 5vh;
    background-color: #FFFFFF;
    border: solid #440BD4 3px;
    border-radius: 5px;
    margin-bottom: 3vh;
    margin: 0 auto;
    margin-bottom: 4%;
    padding-left: 2%;
    display: flex;
    align-items: center;
    font-size: 13px;
    justify-content: space-between;
    background-color: #141417;

}
 #imgBlock img:not(.valid){
    width: 48%;
    height: 4vh;

 }
 #imgBlock {
    display: flex;
    gap: 10px;
    align-items: center;
    padding-right: 5px;
 }
 .valid{
    height: 30px;
    border-radius: 100px;
    background-color: #cd418b;
 }
 .anim:not(#imgBlock){
    animation: edit 1s linear forwards;
 }

 @keyframes edit {
    0%{
        height: 5vh;
    }
    100%{
        height: 30vh;

    }
 }
 p{
    color: #FFFFFF;
 }
