@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    border: 0;
}
*:focus {
    outline: 0;
}
html, body #fullheight{
    min-height: auto !important;
    min-width: 375px !important;
    background-color: ;
}
body{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
}
.containers{
    width: 100vw;
    min-height: 100vh;
    background-color: #210B2C ;
    font-weight: 500;
   
}
h1{
    font-weight: bolder;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    padding-top: 5%;
}
#AddTodo{
    display: flex;
    flex-direction: column;
    align-items : center;
    margin: 0 auto;
    background-color:#321042;
    padding: 20px;
    border-radius: 10px;
    justify-content: center;
    gap: 15px;
    margin-top: 3%;
    margin-bottom: 5%;
    width: 80%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
#AddTodo button{
    width: 99%;
    padding: 15px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    border: none;
    background-color: #4B1863;
    color: #FFFFFF;
    outline: none;
    border-radius: 10px;
    letter-spacing: 1px;
    font-weight: lighter;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
#AddTodo input{
    width: 90%;
    height: 30%;
    /* border: solid 2px #440BD4; */
    border-radius: 10px;
    color: white;
    outline: none;
    font-family : inherit;
    background-color: #3E1452;
    padding-left: 2%;
    resize: none;
    padding: 15px;
    font-size: 14px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
input::-webkit-input-placeholder {
    color: white;
    padding-left: 1.5%;
    margin-left: 1%;
}


.toDoSpawn{
    width: 100%;
    display: block;
    padding-top: 2vh;
}

.inTodoSpawn{
    width: 89%;
    height: 8vh;
    background-color: #FFFFFF;
    border-radius: 5px;
    margin-bottom: 3vh;
    margin: 0 auto;
    margin-bottom: 4%;
    padding-left: 2%;
    display: flex;
    align-items: center;
    font-size: 13px;
    justify-content: space-between;
    background-color:#321042 ;
    

}
 #imgBlock img:not(.valid){
    width: 25px;
    height: 25px;
 }
 #imgBlock img:nth-child(3){
    height: 21px;
    width: 25%;
 }
 #imgBlock img:nth-child(2){
    rotate: 0deg;
 }
 .rotateChevron{
    animation: rotateChevron 0.1s linear forwards;
 }
 @keyframes rotateChevron{
    0%{
        rotate: 0deg;
    }
    100%{
        rotate: 180deg;
    }
 }
 #imgBlock {
    display: flex;
    gap: 10px;
    align-items: center;
    padding-right: 4%;
 }
 .valid{
    height: 27px;
    border-radius: 100px;
    background-color: #cd418b;
 }
 .anim:not(#imgBlock){
    animation: edit .2s linear  forwards;
 }

 @keyframes edit {
    0%{
        padding-bottom: 0%;
    }
    100%{
        padding-bottom: 70%;

    }
 }
 p{
    color: #FFFFFF;
    margin-left: 2%;
 }
.editText {
    background-color: transparent;
    color: #FFFFFF;
    display: flex;
    border: none;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 5%;
    letter-spacing: 1px;
    resize: none;
    width: 70%;
    margin-left: 2%;
}
.none{
    display: none;
}
@keyframes dateAnim{
    0%{
        margin-top: 15%;
    }
    100%{
        margin-top: 505px;
    }
}
.apparition{
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    background-color: #4B1863;
    color: #FFFFFF;
    border-radius: 5px;
    padding: 5px;
    animation: dateAnim 0.2s linear forwards;
    margin-left: 0.7%;
    
}
.apparition::-webkit-calendar-picker-indicator {
    filter: invert(1);
    font-size: 20px;
    margin-left: -15px;
}
.textAreaEdit{
    position: absolute;
    margin-top: 65%;
    height: 30%;
    width: 85%;
    background-color: transparent;
    resize: none;
    border-radius: 5px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    resize: none;
    margin-left: 0.5%;
    background-color: #3E1452;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

